src/main/resources/feta.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DisplayID" type="xs:int"/>
    <xs:element name="MeasurementName" type="xs:string"/>
    <xs:element name="Description" type="xs:string"/>
    <xs:element name="RecommendedInterval" type="xs:string"/>
    <xs:element name="MeasurementID" type="xs:int"/>
    <xs:element name="SupportedIntervals" type="xs:string"/>
    <xs:element name="DefaultMeasurementInterval" type="xs:string"/>
    <xs:element name="AdditionalParameter" type="xs:string"/>
    <xs:element name="SumTable">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="table" use="optional"/>
                    <xs:attribute type="xs:string" name="view" use="optional"/>
                    <xs:attribute type="xs:string" name="viewAgg" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Counter">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Description" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="colName" use="optional"/>
            <xs:attribute type="xs:string" name="timeFormula" use="optional"/>
            <xs:attribute type="xs:string" name="nwFormula" use="optional"/>
            <xs:attribute type="xs:string" name="unit" use="optional"/>
            <xs:attribute type="xs:string" name="neName" use="optional"/>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeasurementNumber" type="xs:string"/>
    <xs:element name="ObjectHierarchy" type="xs:string"/>
    <xs:element name="PMCoreMeasType" type="xs:string"/>
    <xs:element name="RBFolderName" type="xs:string"/>
    <xs:element name="OMeSName" type="xs:string"/>
    <xs:element name="BusyHourDefinitionFormula" type="xs:string"/>
    <xs:element name="KoalaRawId" type="xs:string"/>
    <xs:element name="TimeSummaryLevels" type="xs:string"/>
    <xs:element name="NWSummaryLevels" type="xs:string"/>
    <xs:element name="AIBDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DisplayID"/>
                <xs:element ref="MeasurementName"/>
                <xs:element ref="Description"/>
                <xs:element ref="RecommendedInterval"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AoMDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MeasurementID"/>
                <xs:element ref="SupportedIntervals"/>
                <xs:element ref="DefaultMeasurementInterval"/>
                <xs:element ref="AdditionalParameter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RawDetails">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="table"/>
                    <xs:attribute type="xs:string" name="view"/>
                    <xs:attribute type="xs:string" name="viewRaw"/>
                    <xs:attribute type="xs:string" name="viewAgg"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SummaryDetails">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SumTable" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Counters">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Counter" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Adaptation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="MeasurementNumber"/>
                <xs:element ref="ObjectHierarchy"/>
                <xs:element ref="PMCoreMeasType"/>
                <xs:element ref="RBFolderName"/>
                <xs:element ref="OMeSName"/>
                <xs:element ref="BusyHourDefinitionFormula"/>
                <xs:element ref="KoalaRawId"/>
                <xs:element ref="TimeSummaryLevels"/>
                <xs:element ref="NWSummaryLevels"/>
                <xs:element ref="AIBDetails"/>
                <xs:element ref="AoMDetails"/>
                <xs:element ref="RawDetails"/>
                <xs:element ref="SummaryDetails"/>
                <xs:element ref="Counters"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>