src/main/resources/koala.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Vendor" type="xs:string"/>
  <xs:element name="Element" type="xs:string"/>
  <xs:element name="Version" type="xs:string"/>
  <xs:element name="Raw" type="xs:byte"/>
  <xs:element name="Hour" type="xs:byte"/>
  <xs:element name="Day" type="xs:short"/>
  <xs:element name="Week" type="xs:short"/>
  <xs:element name="Month" type="xs:short"/>
  <xs:element name="DayBH" type="xs:short"/>
  <xs:element name="WeekBH" type="xs:short"/>
  <xs:element name="MonthBH" type="xs:short"/>
  <xs:element name="RawLevel" type="xs:byte"/>
  <xs:element name="FirstLevel" type="xs:string"/>
  <xs:element name="LastLevel" type="xs:string"/>
  <xs:element name="RawLevelRef" type="xs:string"/>
  <xs:element name="FirstLevelRef" type="xs:string"/>
  <xs:element name="LastLevelRef" type="xs:string"/>
  <xs:element name="TimeRawFormula" type="xs:string"/>
  <xs:element name="ObjRawFormula" type="xs:string"/>
  <xs:element name="Unit" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="Counter">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="TimeRawFormula"/>
        <xs:element ref="ObjRawFormula"/>
        <xs:element ref="Unit"/>
        <xs:element ref="Description"/>
        <xs:element ref="TimeSumFormula"/>
        <xs:element ref="ObjectSumFormula"/>
      </xs:choice>
      <xs:attribute type="xs:string" name="ID" use="optional"/>
      <xs:attribute type="xs:string" name="OMeSName" use="optional"/>
      <xs:attribute type="xs:string" name="NEName" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeSumFormula" type="xs:string"/>
  <xs:element name="ObjectSumFormula" type="xs:string"/>
  <xs:element name="Time">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RawLevel"/>
        <xs:element ref="FirstLevel"/>
        <xs:element ref="LastLevel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopologyRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RawLevelRef"/>
        <xs:element ref="FirstLevelRef"/>
        <xs:element ref="LastLevelRef"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhysicalCounters">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="Counter"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogicalCounters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Counter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Vendor"/>
        <xs:element ref="Element"/>
        <xs:element ref="Version"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Storing">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Raw"/>
        <xs:element ref="Hour"/>
        <xs:element ref="Day"/>
        <xs:element ref="Week"/>
        <xs:element ref="Month"/>
        <xs:element ref="DayBH"/>
        <xs:element ref="WeekBH"/>
        <xs:element ref="MonthBH"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Measurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Description"/>
        <xs:element ref="Time"/>
        <xs:element ref="TopologyRef"/>
        <xs:element ref="PhysicalCounters"/>
        <xs:element ref="LogicalCounters"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID" use="optional"/>
      <xs:attribute type="xs:string" name="OMeSName" use="optional"/>
      <xs:attribute type="xs:string" name="NEName" use="optional"/>
      <xs:attribute type="xs:string" name="RBFolderName" use="optional"/>
      <xs:attribute type="xs:string" name="Aggregation" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adaptation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Release"/>
        <xs:element ref="Storing"/>
        <xs:element ref="Measurement" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID"/>
      <xs:attribute type="xs:string" name="RepProcessID"/>
      <xs:attribute type="xs:string" name="DNMappingStrategy"/>
      <xs:attribute type="xs:string" name="RBFolderName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>