src/main/resources/koala.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Adaptation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Release">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Vendor"/>
              <xs:element type="xs:string" name="Element"/>
              <xs:element type="xs:string" name="Version"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Storing">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="Raw"/>
              <xs:element type="xs:byte" name="Hour"/>
              <xs:element type="xs:short" name="Day"/>
              <xs:element type="xs:short" name="Week"/>
              <xs:element type="xs:short" name="Month"/>
              <xs:element type="xs:short" name="DayBH"/>
              <xs:element type="xs:short" name="WeekBH"/>
              <xs:element type="xs:short" name="MonthBH"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Measurement" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description"/>
              <xs:element name="Time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="RawLevel"/>
                    <xs:element type="xs:string" name="FirstLevel"/>
                    <xs:element type="xs:string" name="LastLevel"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TopologyRef">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="RawLevelRef"/>
                    <xs:element type="xs:string" name="FirstLevelRef"/>
                    <xs:element type="xs:string" name="LastLevelRef"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="ID" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="PhysicalCounters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Counter" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="TimeRawFormula"/>
                          <xs:element type="xs:string" name="ObjRawFormula"/>
                          <xs:element type="xs:string" name="Unit"/>
                          <xs:element type="xs:string" name="Description"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                        <xs:attribute type="xs:string" name="OMeSName" use="optional"/>
                        <xs:attribute type="xs:string" name="NEName" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="LogicalCounters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Counter">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Unit"/>
                          <xs:element type="xs:string" name="TimeRawFormula"/>
                          <xs:element type="xs:string" name="TimeSumFormula"/>
                          <xs:element type="xs:string" name="ObjRawFormula"/>
                          <xs:element type="xs:string" name="ObjectSumFormula"/>
                          <xs:element type="xs:string" name="Description"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="ID" use="optional"/>
            <xs:attribute type="xs:string" name="OMeSName" use="optional"/>
            <xs:attribute type="xs:string" name="NEName" use="optional"/>
            <xs:attribute type="xs:string" name="RBFolderName" use="optional"/>
            <xs:attribute type="xs:string" name="Aggregation" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="ID"/>
      <xs:attribute type="xs:string" name="RepProcessID"/>
      <xs:attribute type="xs:string" name="DNMappingStrategy"/>
      <xs:attribute type="xs:string" name="RBFolderName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>